.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
}

.pokemon-card h2 {
  margin: 0 0 16px;
  font-size: 24px;
}

.pokemon-card img {
  width: 120px;
  height: 120px;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px 0;
}

.pokemon-details ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
}

.pokemon-details li {
  padding: 8px 12px;
  border-radius: 4px;
  color: #fff;
}

.pokemon-details li:nth-child(odd) {
  background-color: #4caf50; /* Green */
}

.pokemon-details li:nth-child(even) {
  background-color: #2196f3; /* Blue */
}

.pokemon-card-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.like-button {
  background-color: rgb(186, 226, 186);
  border-color: black;
  color: black;
  padding: 10px 20px;
  text-align: center;
}

.dislike-button {
  background-color: lightcoral;
  border-color: black;
  color: black;
  padding: 10px 20px;
  text-align: center;
}
